<div id="banner-new-folder">
    <header>
        <p class="titulo">Nueva Carpeta</p>
    </header>
    <div class="cuerpo">
        <input type="text" placeholder="nombre de la carpeta..." id="new-folder-input" name="new-folder-input">
    </div>
    <footer>
        
        <div class="boton" data-type="boton" data-action="aceptar">aceptar</div>
        <div class="boton" data-type="boton" data-action="cancelar">cancelar</div>
    </footer>
</div>