<div class="loader">
    <svg height="140" width="140">
        <circle class="cexterior onda" cx="70" cy="70" r="35"></circle>
        <circle class="cexterior-1 onda" cx="70" cy="70" r="25"></circle>
        <circle class="cinterior onda" cx="70" cy="70" r="10"></circle>
    </svg>
    
</div>
<div class="label">
    <p><%- mensaje %></p>
</div>