<div id="home" class="fill">
    <aside id="app-controls" class="appc">
        <div class="user-info">
            <div class="picture">
                <figure>
                    <img src="static/static/img/perfiles/default-user.png" />
                </figure>
            </div>
            <h2 class="username"><%= user.nick %></h2>
        </div>
        <div id="menu-home">
            <% Utils.templates.include('static/views/componentes/menu.ejs','#menu-home',{menu:MENU_HOME,name:'menu-home'}); %>
        </div>
        <!--<div id="footer-home">
            <% Utils.templates.include('static/views/componentes/footer.ejs','#footer-home'); %>
        </div>-->
    </aside>
    <div id="wrapper-home" class="wh">
        <% Utils.templates.include('static/views/home/mis-modelos.ejs','#wrapper-home',{modelos:modelos,ruta:ruta}); %>
    </div>
</div>