<div id="landing" class="fill">
    <% Utils.templates.include('static/views/landing/inicio.ejs','#landing') %>
</div>
<!--<div id="menu-principal" class="menu-lateral" data-position="right">
    <% Utils.templates.include('static/views/componentes/menu.ejs','#menu-principal',{menu:menu,name:'menu'}); %>
</div>-->