@font-face {
  font-family: 'pottery';
  src:  url('../fonts/pottery-icons.eot?j8gfu3');
  src:  url('../fonts/pottery-icons.eot?j8gfu3#iefix') format('embedded-opentype'),
    url('../fonts/pottery-icons.ttf?j8gfu3') format('truetype'),
    url('../fonts/pottery-icons.woff?j8gfu3') format('woff'),
    url('../fonts/pottery-icons.svg?j8gfu3#pottery') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pottery-icons"], [class*=" pottery-icons"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pottery' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pottery-iconsadd-folder:before {
  content: "\e900";
}
.pottery-iconsdownload:before {
  content: "\e901";
}
.pottery-iconseditar:before {
  content: "\e902";
}
.pottery-iconseliminar:before {
  content: "\e903";
}
.pottery-iconsexportar:before {
  content: "\e904";
}
.pottery-iconsfacebook:before {
  content: "\e905";
  color: #b3b3b3;
}
.pottery-iconsfolder:before {
  content: "\e906";
}
.pottery-iconsgplus:before {
  content: "\e907";
  color: #b3b3b3;
}
.pottery-iconshome:before {
  content: "\e908";
}
.pottery-iconsicono:before {
  content: "\e909";
}
.pottery-iconsinstagram:before {
  content: "\e90a";
  color: #b3b3b3;
}
.pottery-iconsllave:before {
  content: "\e90b";
}
.pottery-iconslupa:before {
  content: "\e90c";
}
.pottery-iconsnew:before {
  content: "\e90d";
}
.pottery-iconsremove-folder:before {
  content: "\e90e";
}
.pottery-iconssalir:before {
  content: "\e90f";
}
.pottery-iconssave:before {
  content: "\e910";
}
.pottery-iconstwitter:before {
  content: "\e911";
  color: #b3b3b3;
}
