.menu{
    & > ul{
        & > li{
            font-size:30px;
            margin-bottom:25px;
            text-align: inherit;
            font-weight: 100;
            height:30px;

            align-items: center;

            &[data-estado="activo"]{
                color:$resaltado;
                font-size:30px;
                @include animacion(250ms,ease-in);
            }

            &[data-estado="inactivo"]{
                cursor:pointer;
                color:white;
                font-size:24px;
                @include animacion(250ms,ease-in);
                &:hover{
                    color:white;
                    font-size: 30px;
                }
            }
        }
    }
}

.menu-lateral{
    width:250px;
    height:100%;
    position:absolute;
    box-sizing: border-box;
    padding:40px;
    top:0;

    &[data-position="right"]{
        right:0;
        text-align: right;

    }
    &[data-position="left"]{
        left:0;
        text-align: left;

    }
}