<div class="footer">
    <div class="zona-social">
        <ul>
            <li class="item-social">
                <i class="pottery-icons">facebook</i>
            </li>
            <li class="item-social">
                <i class="pottery-icons">twitter</i>
            </li>
            <li class="item-social">
                <i class="pottery-icons">instagram</i>
            </li>
        </ul>
    </div>
</div>