<div class="branding">
    <div class="logo">
        <!--<figure class="icono">
            <img src="static/img/icono.svg" />
        </figure>-->
        <h1>Pottery<span>Analyzer</span></h1>
    </div>
    <h2>Reconstrucion de piezas ceramicas en 3D</h2>
    <div class="botones" id="botones-inicio">
        <button class="boton" data-action="registrar">CREAR UNA CUENTA</button>
        <button class="boton" data-action="login">INICIAR SESION</button>
    </div>
</div>